<launch>

  <param name="use_sim_time" value="true" />

  <node name="odom_to_tf" pkg="second_project" type="odom_to_tf" output="screen" />

  <node name="static_tf_scan_back" pkg="second_project" type="static_tf_scan_back" output="screen" />

  <node name="combine_laserscan" pkg="second_project" type="combine_laserscan" output="screen" />

  <node name="gmapping" pkg="gmapping" type="slam_gmapping" output="screen">  
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="1.0"/>

    <param name="linearUpdate" value="0.2"/>
    <param name="angularUpdate" value="0.2"/>
    <param name="temporalUpdate" value="0.5"/>

    <param name="maxUrange" value="5.5"/>

    <param name="minimumScore" value="15"/>

    <param name="delta" value="0.06"/>

    <param name="particles" value="50"/>

    <param name="llsamplerange" value="0.005"/>
    <param name="llsamplestep" value="0.005"/>
    <param name="lasamplerange" value="0.0025"/>
    <param name="lasamplestep" value="0.0025"/>

    <remap from="scan" to="scan_combined"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/rviz/config_1.rviz" />
</launch>
